snippet nasa_source
/**
 * @file `!p snip.rv = snip.fn`
 * @author `git config user.name` <`git config user.email`>
 * @date `date +%Y-%m-%d`
 * @copyright Copyright `date +%Y` NASA. All Rights Reserved.
*/
endsnippet
